<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}"></head>


<body class="hold-transition login-page" style="background-color: rgb(186, 193, 199);">
<div class="login-box">
    <div class="login-logo">
        <a th:href="@{/}"><b>Patika</b>  L & F System</a>
    </div>

    <div class="card">
        <div class="card-body login-card-body">
            <!-- Add Logo or Banner -->
            <div class="text-center mb-3">
                <img th:src="@{/img/favicon.jpg}" alt="Logo" class="img-fluid" style="max-width: 259px; height: auto;">
            </div>
            <p class="login-box-msg">Reset Your Password</p>

            <form  th:action="@{/reset-password}" method="post">

                <div class="input-group mb-3">
                    <label>
                        <input type="email" class="form-control" placeholder="Email" name="email" required>
                    </label>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Send Reset Link</button>
                    </div>
                </div>
            </form>

            <p class="mb-0">
                <a th:href="@{/login}" class="text-center">Back to login</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div><!-- /.card -->
</div>
<!-- /.login-box -->

<script th:src="@{/js/bootstrap.bundle.js}"></script>

</body>
</html>
