<div xmlns:th="http://www.thymeleaf.org" th:fragment ="footer">
  <footer class="main-footer" >
    <strong><a href="../dashboard.html">Lost and Found System</a>.</strong>
    All rights reserved 2024.
    <div class="float-right d-none d-sm-inline-block"></div>
  </footer>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/css/adminlite/adminlte.min.js}"></script>
  <script th:src="@{/js/scripts.js}"></script>
</div>